/* Contains the designs of the application.*/
body {
  margin: 0;
  background-color: #F4F4F4;
  vertical-align: middle;
  text-align: center;
}
.navbar {
  width: auto;
  background-color: #282627;
}
.headings {
  color: #C0B283;
  font-family: 'Raleway';
  font-weight: bold;
}
.title {
  padding: 20px;
  margin: 0;
  font-size: 23px;
  color: #C7BCA8;
  font-family: 'Raleway';
}
#currStream {
  border: 5px solid black;
  background-color: white;
  text-align: center;
  width: 150px;
  margin: 15px auto;
  padding: 5px;
  color: black;
}
#tweet{
  border: 5px solid black;
  background-color: white;
  text-align: center;
  margin: 15px auto;
  padding: 5px;
  width: 50%;
  color: black;
}
