/* Contains the designs of the application.*/
html, body {
  height: 100%;
  background-color: #F4F4F4;
}
html {
  margin: auto;
}
body {
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}
h1 {
  color: #C0B283;
}
.headings {
  color: #C0B283;
  font-family: 'Raleway';
  font-weight: bold;

}
#currStream {
  border: 5px solid black;
  background-color: white;
  text-align: center;
  width: 150px;
  margin: 15px auto;
  padding: 5px;
  color: black;
}
#tweet{
  border: 5px solid black;
  background-color: white;
  text-align: center;
  margin: 15px auto;
  padding: 5px;
  width: 50%;
  color: black;
}
