<!DOCTYPE html>
<html>

  <head>
    <title>Streamer</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="/static/highcharts.js"></script>
    <script type="text/javascript " src="/static/ws.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
  </head>

  <body>
    <div class="navbar">
        <p class="title"><b>Streamer </b><br>
          Sentiment Analysis</p>
    </div><br>
    <div id="highCharts" style="min-width: 310px; height: 400px; margin: 0 auto"></div><br>
    <div class="headings" id="streaming">Currently streaming:
      <div id="currStream">
        {% for term in TRACKING_TERMS %}
          {{ term }}
        {% end %}
      </div>
    </div>
    <div class="headings">Most recent tweet: <p id="tweet"><p><br></div>
  </body>
</html>
