<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/static/googleChart.js"></script>
    <title>Streamer</title>
    <script type="text/javascript " src="/static/ws.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
  </head>

  <header>
    <h1>Mood barometer</h1>
  </header>

  <body>
    <div class="headings" id="status">What do people think?</div>
    <div id="chart_div" style="width:800px; height: 500px; margin: 0 auto;" align="center"></div>
    <div class="headings" id="streaming">Currently streaming:
      <div id="currStream">
        {% for term in TRACKING_TERMS %}
          {{ term }}
        {% end %}
      </div>
    </div><br>
    <div class="headings">Most recent tweet: <p id="tweet"><p><br></div>
  </body>
</html>
